/* CSS Document */
body{
	font-family:Arial, Helvetica, sans-serif;
}

.menu-level-1{
	padding-left:10px;
}
.menu-level-2{
	padding-left:20px;
}
.menu-level-3{
	padding-left:30px;
}
.menu-level-4{
	padding-left:40px;
}
.qq-upload-list{
	display:none;
}
.inputText{
	min-width:400px;
}
